---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import ProfilePic from '../components/ProfilePic.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import AboutSection from '../components/AboutSection.astro';
import TechInterests from '../components/TechInterests.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import InfoCard from '../components/InfoCard.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<div class="max-w-7xl w-full mx-auto">
		<div class="main w-full">
			<Banner />
			<div class="md:p-10 p-4 relative border-t border-slate-100">
				<div class="md:flex block items-center gap-8 md:absolute relative top-0 right-0 left-0 md:-translate-y-12 -translate-y-20 w-full">
					<ProfilePic />
					<ProfileHeader />
				</div>
				<div class="md:mt-30 mt-0 md:gap-10 gap-0 grid grid-cols-12">
					<div class="md:col-span-8 col-span-12 md:order-0 order-1">
						<AboutSection />
						<TechInterests />
						<ExperienceSection />
					</div>
					<div class="md:col-span-4 col-span-12 md:order-1 order-0">
						<InfoCard />
					</div>
				</div>
			</div>

			<Footer />
		</div>
	</div>
</Layout>
