body {
    background-color: rgb(17 24 39/1);
    font-family: "JetBrains Mono", monospace;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: var(5rem, .5rem); */
    min-height: 4rem;
    width: 100%;
}

.line-wrapper > span::after {
    content: '';
    position: absolute;
    background-color: #ff9a9e;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
}

.line-wrapper > span::before {
    content: '';
    position: absolute;
    background-color: #ff9a9e;
    border-radius: 50%;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
}
