---
---

<div class="banner">
	<div class="w-full md:h-48 h-48 bg-slate-100">
		<img src="/assets/img/banner.avif" loading="lazy" alt="Banner Image" class="w-full h-full object-cover pointer-events-none grayscale-25">
	</div>
</div>
