---
---

<div class="mt-10">
	<h2 class="text-slate-800 font-bold text-lg">Tech Interests</h2>
	<div class="mt-3 flex flex-wrap gap-6">
		<img src="https://psbadge.netlify.app/b/bun.png" loading="lazy" alt="Bun" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/vue.png" loading="lazy" alt="vue" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/laravel.png" loading="lazy" alt="laravel" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/postgre.png" loading="lazy" alt="postgresql" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/typescript.png" loading="lazy" alt="typescript" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/go.png" loading="lazy" alt="go" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/redis.png" loading="lazy" alt="redis" class="w-max h-12.5 shrink-0 rounded-lg">
	</div>
</div>
