---
---

<div class="mt-10">
	<h2 class="text-slate-800 font-bold text-lg">Tech Interests</h2>
	<div class="mt-3 flex flex-wrap gap-6">
		<img src="https://psbadge.netlify.app/b/bun.png" alt="Bun" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/vue.png" alt="vue" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/laravel.png" alt="laravel" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/postgre.png" alt="postgre" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/typescript.png" alt="typescript" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/go.png" alt="Go" class="w-max h-12.5 shrink-0 rounded-lg">
		<img src="https://psbadge.netlify.app/b/redis.png" alt="redis" class="w-max h-12.5 shrink-0 rounded-lg">
	</div>
</div>
